html
{
	background: url("../images/plexusBgMainpage.png") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	overflow-y: scroll;
}
body
{
	margin: 0 auto;
	background-image: url("../images/plexusBgMainpage.png");
	overflow: hidden;
	display: block;
	background-size: 100%;
}
.of
{
	overflow-y: scroll;
}
.ofx
{
	overflow-x: hidden; 
}
.wholeCss
{
	max-height:100%;
	width:100%;
	display: block;
	position: absolute;
}
.fpWholeCss
{	
	padding: 0 75px 75px 35%;
	float: left;
}
.logoMain
{
	max-width:100%;
	max-height:50%;
	height: 100px;
	padding:30px 0px 0px 450px;
	position:relative;
}
.upperCss
{
	max-width:100%;	
	height: 150px;
}
.lowerCss
{
	padding-left: 38%;
	height: 150px;
}
.fl
{
	float: left;
}
.middleCss
{
	max-width: 100%;
}
.inputCss, .firstNameCss, .middleNameCss, .lastNameCss, .address
{
	border-radius: 10px;
	height: 30px; 
	width: 250px;
	background-color: beige;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
}
.logoCss
{
	background-color: transparent;
	width: 250px;
	height: 80px;
	margin-left: 50%;
	float: left;
}
.logoSignUp
{
	background-color: transparent;
	width: 350px;
	height: 10px;
	margin: 20px 38%;
	float: left;
}
.signUpError
{
	height: 100%;
	width: 100%;
}
.fplogo
{
	margin-left: 20%;
	margin-top: 20px;
}
.middleUser
{
	float: left;
	padding: 25px 0 25px 0;
}
.middlePass
{
	float: left;
	padding: 0px 0 50px 0;
}
.signCss
{
	position:relative;
    top: 10%;
    left: 50%;
    width:300px;
    height:200px;
    padding: 0 75px;
}
.containerCss
{
	margin-left:auto;
	margin-right: auto;
	width: 80%;
	height: 50%;
}
.pad
{
	height: 400px;
	padding: 0px 100px 0px 200px;
}
.signInCss
{
	margin-left: 150px; 
}
.signinButton
{
	-webkit-border-radius: 10px;
	width: 100%;
	height: 10px;
	padding:10px 25px 10px; 
	float: left;
}
.signupButton
{
	-webkit-border-radius: 10px;
	width: 100%;
	height: 10px;
	padding:20px 25px 5px; 
	float: left;
}
.fpImageCss
{
	width: 100px;
	height: 150px;
	float: left;
	padding-top: 10px;
	margin-right: 25px;
}
.divborder
{
	border-radius: 15px;
	border: 3px dashed black;
}
.fpUpperCss
{
	height: 160px;
	max-width: 100%;
	border-bottom: 0px;
	margin-top: 30px;
	padding: 20px 30px;
}
.fpLowerCss
{
	height: 250px;
	max-width: 100%;
	padding: 20px 30px;
}
h1
{
	margin-top: 30px;
	margin-left: 15px;
}
.fpH3
{
	height:25px;
}
.emailInput
{
	padding: 20px 60px;
	height: 50px;
	max-width: 100%;
}
.colorBeige
{
	background-color: beige;
}
.sendButtonCss
{
	padding-left: 150px;
}
.userInfo
{
	max-height: 100%;
	width: 550px;
	padding-left: 20px;
}
.upperSU
{
	max-width:100%;
	height: 200px;
}
.maleFemale
{
	width: 100px;
	margin-bottom: 50px;
}
.dayInput
{
	width: 80px;
}
.dateBottom, .UPBottom, .address
{
	margin-bottom: 25px;
}
.address
{
	width: 510px;
}
.monthBday
{
	width:125px;
}
.gender
{
	visibility: hidden;
}
.signUpText
{
	height: 70px;
	width: 900px;
}
h1.signup
{
	margin: 0 150px;
}
.middleSignup
{
	padding: 0 380px;
	height: 500px;
}
.h3SignUp
{
	height: 80px;
	max-width: 100%;
	margin-right: 50px;
	margin-bottom: 50px;
}
.signUpB
{
	background-color: transparent;
	border: 0px solid transparent;
	cursor: pointer;
}
.profileUpper
{
	width: 100%;
	height: 80px;
	padding: 30px 0px;
}
.userInfoProfile
{
	max-width: 100%;
	height: 180px;
	margin:30px 30px 0px 100px;
	padding: 30px 50px;
}
.dP
{
	height: 170px;
	width: 170px;
}
.usersName
{
	max-height: 100%;
	max-width: 100%;
	margin-left:50px;
	margin-top: 100px;
	padding: 0px 10px 0px 10px;
}
div
{
	display: block;
}
h1.profileName
{
	margin: 0px;
}
li
{
	display: list-item;
}
li.font
{
	font-size: 20px;
}
.otherInfoProfile
{
	height: 170px;
	width: 350px;
	border-left: 3px dashed black;
	float: right;
}
.nameMiddle
{
	height: 170px;
	width: 500px;
}
.liProfileDiv
{
	padding: 0px 20px;
	border: 1px solid white;
}
h3.profilePage
{
	margin: 0px 20px;
}
p
{
	-webkit-border-radius: 10px;
	width: 100%;
	height: 10px;
	padding:20px 55px 5px; 
	float: left;
}
.profilePageOf
{
	overflow-y: scroll;
}
.leftColumn
{
	width: 400px;
	height: auto;
	margin: 25 0px 25px 50px;
	padding: 10px;
	float:left;
}
.rightColumn
{
	max-height: 100%;
	width: 900px;
	margin: 25 50px;
	padding: 0px 0px 0 0px;
	float:right;
}
.newsFeeds
{
	height: 100%;
	width: 800px;
	margin: 20px;
	padding: 0 30px;
	text-align: center;
}
.options
{
	float: left;
	height: auto;
	width: auto;

}
.picName
{
	float:left;
	height: auto;
	width: auto;
}
.hpDp
{
	float: left;
	height: 150px;
	width: 150px;
	padding: 10px 10px;
	margin: 10px;
}
.hpName
{
	text-align: center;
	height: 50px;
	width: 250px;
	margin: 20px;
	padding:20px 10px 0px 100px;
}
.divhomePage
{
	height: 30px;
	width: 100%;
	float:left;
	text-align: center;
	margin:10px auto; 
}
h3.linkProfile
{
	margin:0 10px;
}
.divSearch
{
	padding-top: 200px;
	float:right;
	text-align: center;
}
.searchInput
{
	height: 30px;
	width: 200px;
	float: left;
	text-align: center;
	margin:10px auto;
}
.rightColUpper
{
	width: 100%;
	height:150px;
	border-bottom: 3px dashed black;
}
.headerHP
{
	width:300px;
	float: left;
	margin: 20px auto;
	padding: 0px 100px;
}
.signOut
{

	float: right;
	height: 50%;
	width:80px;
	border-left: 3px dashed black;
	border-bottom: 3px dashed black;
}
.postsHp
{
	margin: 10px auto;
}
.relative;
{
	position: relative;
}
.profileWhole
{
	padding: 0px 20px 20px 20px;
}
.usersPostProfile
{
	max-height: 100%;
	width: 650px;
	margin: 30px 0px 30px 100px;
	padding: 30px 30px;
}
.newPost
{
	height: 200px;
	width: 100%;
	margin-bottom: 10px;
	overflow: hidden; 
}
.recentPost
{
	height: 100%;
	width: 100%;
	margin-top: 10px;
}
.rightProfile
{
	float: right;
	max-height: 100%;
	width: 310px;
	margin: 30px 30px 30px 10px;
	padding: 10px 30px 30px 30px;
}
.friendsPhoto
{
	height: 103px;
	width: 103px;
}
.friendsInfo
{
	height: 100px;
	width: 180px;
	padding-left: 10px;
}
.usersFriendProfile
{
	margin-bottom: 10px;
}
.linkToAbout
{
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: bold;
}
.aboutInfoProfile
{
	margin-left: 30px;
	height: 30px;
	width: 100%;
	border-bottom: 2px solid black;
	margin-bottom: 10px;
}
.linkToFriends
{
	padding: 10px;
	height: 20px;
	width: 100%;
	border-bottom: 2px solid black;
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: bold;
}
.newPostTextBox
{
	height: 120px;
	max-width: 100%;
	padding: 10px 30px;
	overflow: solid;
	resize: none;
	margin-bottom: 10px;
}
.postTextBox
{
	padding: 10px;
	border-radius: 5px;
	max-width: 100%;
	font-size: 16px;
	font-weight: bold;
	font-family: arial;
	background-color: beige;
}
.postButton
{
	float: right;
	height: 40px;
	width: 100px;
	margin-right: 30px;
}
.logoProfile
{
	height: 80px;
	width: 250px;
	margin-left: 100px;
}
