<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/Icon.png")"/>
	<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/plexusCSS.css")"/>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/plexusJS.js")"></script>
</head>
<body>
	<div class="wholeCss">
		<div class="addFriendContainer">
			<div id="upper" class="upperCss">
				<div class="logoAll">
					<img src="@routes.Assets.at("images/plexusLogo2.png")" height="100px" width="300px" alt="plexusLogo"/>				
				</div>
			</div>
			<div class="addFriendMiddleCss">
				<div class="friendsEmailList">
					<div class="addFriendHead">
					<h1 class="addFriendHeading">Add some friends here!</h1>
					</div>
					<div class="addList">
						<ul class="addFriendBullets">
							<li>
								<div class="addFriendListDiv">
								<input name="first" class="addFriendEmail" placeholder="Add Friend"/>
								</div>
							</li>
							<li>
								<div class="addFriendListDiv">
									<input name="second" class="addFriendEmail" placeholder="Add Friend"/>
								</div>
							</li>
							<li>
								<div class="addFriendListDiv">
									<input name="third" class="addFriendEmail" placeholder="Add Friend"/>
								</div>
							</li>
							<li>
								<div class="addFriendListDiv">
									<input name="fourth" class="addFriendEmail" placeholder="Add Friend"/>
								</div>
							</li>
							<li>
								<div class="addFriendListDiv">
									<input name="fifth" class="addFriendEmail" placeholder="Add Friend"/>
								</div>
							</li>
						</ul>
					</div>
					<div class="addFriendButton">
						<button type="submit" class="addFriend">
							<img src="@routes.Assets.at("images/addFriendButton.png")" height="50px" width="150px">
						</button>
					</div>
				</div>
				<div class="skipAdding">
				<a href="/photoUpload">Skip Adding Friends</a>
				</div>
			</div>
		</div>
	</div>
</body>
<html>