<!DOCTYPE html>
<head>
	<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/Icon.png")"/>
	<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/plexusCSS.css")"/>
</head>
<body>
	<div class="wholeCss of">
		<div class="profileUpper">
		</div>
		<div class="userInfoProfile divborder">
			<div class="dP divborder fl">display picture</div>
			<div class="nameMiddle fl">
				<div class="usersName fl">
					<h1 class="profileName">maron nino justo</h1>
				</div>
			</div>
			<div class="otherInfoProfile fl">
				<div class="aboutInfoProfile">
				<h3 class="profilePage">About</h3>
				</div>
				<div class="divInfoProfile">
				<ul>
					<li class="font"><div class="liProfileDiv">work?</div></li>
					<li class="font"><div class="liProfileDiv">school?</div></li>
					<li class="font"><div class="liProfileDiv">birthday</div></li>
					<li class="font"><div class="liProfileDiv">male</div></li>
					<li class="font"><div class="liProfileDiv">baesa, quezon city</div></li>
				</ul>
				</div>
			</div>
		</div>
	</div>
</body>
</html>