<!DOCTYPE HTML>
<html>
<title>About</title>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/Icon.png")"/>
	<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/plexusCSS.css")"/>
	<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap.css")"/>
	<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/plexusCSS.css")"/>		<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap.css")"/>
	<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap-responsive.css")"/>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/plexusJS.js")"></script>
	<script src="http://code.jquery.com/jquery.js"></script>
	<script src="@routes.Assets.at("javascripts/bootstrap.js")"></script>
</head>
<body>
<div class="container">
		<div class="wrapper">
			<div class="navbar">
			  <div class="navbar-inner navbar-fixed-top">
			  	<div class="container">
			    <ul class="nav">
			      <li><a href="/homePage">Home</a></li>
			      <li><a href="/profile">Profile</a></li>
			      <li><a href="/friends">Friends</a></li>
			      <li class="active"><a href="/about">About</a></li>
			    </ul>
			  </div>
			  </div>
			</div><!--Nav Bar-->
			<div class="container auto">
				<div class="aboutContents offset2 boxShadow">
					<div id="aboutLocation" class="aboutLoc aboutContentsInner">
						<h3>Location</h3>
						<ul>
							<li>Current Location:Manila</li>
						</ul>
					</div>
					<div id="aboutBasicInfo" class="aboutBasic aboutContentsInner">
							<h3>Basic Info</h3>
							<ul>
								<li>Birthday : </li>
								<li>Gender : </li>
							</ul>
					</div>
						<div id="aboutContact" class="aboutCon aboutContentsInner">
						<h3>Contact Info</h3>
						<ul>
							<li>Address:</li>
							<li>Email Adress:</li>
						</ul>
					</div>
					<div id="aboutWork" class="aboutWork aboutContentsInner">
						<h3>Work and School</h3>
							<ul>
							<li>School:</li>
							<li>Work:</li>
						</ul>
					</div>
					<div class="edit">
						<a href="/profile" role="button">
						<img class="mrs uiLoadingIndicatorAsync img" src="@routes.Assets.at("images/glyphicons_150_edit.png")" alt="" width="40" height="30">
						</a>
					</div>
			</div>
		</div>
</body>
</html>