<!DOCTYPE html>
<html>
<title>Forgot Password</title>
<head>
	<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/Icon.png")"/>
	<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/plexusCSS.css")"/>
	<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap.css")"/>
	<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap-responsive.css")"/>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/plexusJS.js")"></script>
	<script src="http://code.jquery.com/jquery.js"></script>
	<script src="@routes.Assets.at("javascripts/bootstrap.js")"></script>
</head>
<body>
<div id="whole" class="wholeCss">
	<div  class="fpWholeCss">
		<div id="upper" class="upperCss">
			<div class="logoAll">
				<img src="@routes.Assets.at("images/plexusLogo2.png")" height="100px" width="300px" alt="plexusLogo"/>
			</div>
		</div>
		<div class="middleFP">
			<div class="fpUpperCss divborder bg">
				<div id="fpImage" class="fpImageCss fl">
				<img src="@routes.Assets.at("images/letterQuestionmark.png")" height="150px" width="150px">
				</div>
				<div class="forgotText fl"><h2>Forgot</h2><h2>Password</h2>
				</div>
			</div>
			<div class="fpLowerCss divborder fl bg">
				<div class="fpH3">
				<h3>Enter E-mail Address</h3>
				</div>
				<hr noshade size="4" width="100%">
				<div  class="emailInput">
					<input id="emailAdd" class="inputCss colorBeige" type="text" val="" placeholder="E-mail">
				</div>
				<div id="sendButton" class="sendButtonCss"><a href="/#"><button type="submit">Send
				</a></button>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
<html>