<!DOCTYPE HTML>
<html>
<head>
	<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/Icon.png")"/>
	<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/plexusCSS.css")"/>
</head>
<body>
	<div class="wholeCss">
		<div class="friendsPageContainer">
			<div class="friendsPageUpper">
				<div class="logoFriendsPage fl">
					<img src="@routes.Assets.at("images/plexusLogo2.png")" height="80px" width="250px" alt="plexusLogo"/>
				</div>
			</div>
			<div class="friendsPageList boxShadow">
				<div class="friendsPageListUpper">
					<div class="friendsLogoUpper fl boxShadow">
						<img src="@routes.Assets.at("images/friendsList.png")" height="100px" width="200px"/>
					</div>
					<div class="friendsPageSearch">
						<input class="friendsPageSearchInput" placeholder="search"/>
						<button type="submit" class="friendsPageSearchButton">
							Search
						</button>
					</div>
				</div>
				<div class="friendsPageFriendList boxShadow">
					<ul class="friendsPageListUl">
						<li>
							<div class="friendsPageListLi">
								<div class="friendsPagePictureDiv fl">
									<img src="@routes.Assets.at("images/batman.png")" class="friendsPagePicture"/>
								</div>
								<div class="friendsPageFriendsName fl">
									Ako Si Batman
								</div>
							</div>
						</li>
						<li>
							<div class="friendsPageListLi">
								<div class="friendsPagePictureDiv">
								</div>
							</div>
						</li>
						<li>
							<div class="friendsPageListLi">
								<div class="friendsPagePictureDiv fl">
									<img src="@routes.Assets.at("images/batman.png")" class="friendsPagePicture"/>
								</div>
								<div class="friendsPageFriendsName fl">
									Ako Si Man with a BAT
								</div>
							</div>
						</li>
						<li>
							<div class="friendsPageListLi">
								<div class="friendsPagePictureDiv">
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>
</html>