<html class="mainpageBg">	
<title>Home</title>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/Icon.png")"/>
	<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/plexusCSS.css")"/>
	<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap.css")"/>
	<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap-responsive.css")"/>
	<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/ajax-list-bootstrap.css")"/>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/plexusJS.js")"></script>
	<script src="http://code.jquery.com/jquery.js"></script>
	<script src="@routes.Assets.at("javascripts/bootstrap.js")">
	</script>
	<script src="@routes.Assets.at("javascripts/jpaginate.js")"></script>
</head>
<body>
	<div class="container">
		<div class="wrapper">
			<div class="navbar">
			  <div class="navbar-inner navbar-fixed-top image">
			  	<div class="row-fluid span12">
			  		<div>
				    	<img src="@routes.Assets.at("images/plexusBlue.png")" alt="header" height="40px" width="150px" class="fl"/>
				    </div>
				    <ul class="nav span3">
				      <li class="active"><a href="/homePage">Home</a></li>
				      <li><a href="/profile">Profile</a></li>
				      <li><a href="/friends">Friends</a></li>
				      <li><a href="/about">About</a></li>
				    </ul>
				 	<form class="form-inline offset3 span3">
						  <input type="text" class="input-medium search-query">
						  <button type="submit" class="btn">Search</button>
					</form>
					<div>
					<button class="btn logOut" type="submit"><i class="icon-off"></i></button>
					</div>
			  </div>
			  </div>
			</div><!--Nav Bar-->
			<div class="wrapper">
				<div class="container-fluid wrapper-home">
		 			<div class="row-fluid">
		   				 <div class="span4 boxshadow homeSpan3 bg">
		   				 	<div class="row-fluid padding">
		     				 	 <div class="span12 pagination-centered divPhoto"><img src="@routes.Assets.at("images/batman.png")" alt="header" height="100px" width="100px"/></div>
		     				 	 <div class="span12 pagination-centered">
		     				 	 	<h4>Billie Ang</h4>
		     				 	 </div>
		     				 	<div class="status">
		     				 		<textarea class="status input-large" rows="3" placeholder="Post it here!"></textarea>
		     				 		<button class="btn divPhoto"><i class="icon-comment"></i>Post</button>
		     				 	</div>
		     				 	<div class="span12 pagination-centered padding">
									<a href="#myModal" role="button" class="btn" data-toggle="modal"><i class="icon-globe"></i>Notifications</a>
												<!-- Modal -->
									<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
												  <div class="modal-header">
												    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
												    <h3 id="myModalLabel">Notifications</h3>
												  </div>
												  <div class="modal-body">
															<div class="pagination-container"></div>
															<ul data-display="ajax-list" ajax-list-url="/todo_*"></ul>
															<form class="item-form">
															  <input type="text" name="name">
															  <button type="submit" name="submit">Submit</button>
															</form>
												  </div>
												  <div class="modal-footer">
												    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
												  </div>
												</div>
		     				 	</div>
		     				 	<div class="span12 pagination-centered padding">
									<a href="#myModal2" role="button" class="btn" data-toggle="modal"><i class="icon-user"></i>Friend Requests</a>
												<!-- Modal -->
									<div id="myModal2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
												  <div class="modal-header">
												    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
												   <h3 id="myModalLabel">Friend Requests</h3>
												  </div>
												  <div class="modal-body">
														<div class="pagination-container"></div>
														<ul data-display="ajax-list" ajax-list-url="/todo_*"></ul>
												  </div>
												  <div class="modal-footer">
												    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
												  </div>
												</div>
		     				 	</div>
		     				 </div>
		    			</div>
		    			<div class="span8 boxShadow homeSpan8 bg">
		      				<div class="content-header">
		      					<div class="header-inner text-center">
		      						<h2>News Feeds</h2>
		      					</div>
		      				</div>
		      				<div class="above">
		      					<div class="above" id="content">
								</div>
		      					<div class="showMore span7">
		      						<button class="btn" onclick="updateProfile()">show more</button>
		      					</div>
		      				</div>
		      				</div>
		    			</div>
		  			</div>
				</div>
			</div>
		</div>
	</div>
</body>
</script>
</html>