<!DOCTYPE html>	
<title>Plexus</title>
<head>
	<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/Icon.png")"/>
	<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/plexusCSS.css")"/>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/plexusJS.js")"></script>
</head>
<body>
<div id="whole" class="wholeCss">
	<div id="upper" class="upperCss"><img src="@routes.Assets.at("images/plexusLogo2.gif")" class="logoCss" height="100px" width="300px" alt="plexusLogo"/>
	</div>
	<div id="middle" class="middleCss">
		<div id="world" class="signCss">
			
		</div>
		<div id="signInUp" class="signCss signInCss"> 
			<div id="middleUsername" class="middleUser"><input class="inputCss" type="text" name="user_name" value="" placeholder="username"/></div>
			<div id="middlePassword" class="middlePass"><input class="inputCss" type="password" name="user_name" value="" placeholder="password"/></div>
			<a href="/forgotPassword"><p>Forgot Password?</p></a>
			<div id="signIn" class="signinButton"><a href="/home/majusto/Documents/plexus/plexusSignupPage.html" height="25px"><img src="@routes.Assets.at("images/signIn.png")" height="40px" width="75px"></a>
			</div>
			<div id="signUp" class="signinButton signupButton"><a href="/home/majusto/Documents/plexus/plexusSignupPage.html" height="25px"><img src="@routes.Assets.at("images/signUp.png")" height="40px" width="75px"></a>
			</div>
		</div>
	</div>
</div>
</body>
</html>