<html class="mainpageBg">	
<title>Plexus</title>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/Icon.png")"/>
	<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/plexusCSS.css")"/>		<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap.css")"/>
	<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap-responsive.css")"/>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/plexusJS.js")"></script>
	<script src="http://code.jquery.com/jquery.js"></script>
	<script src="@routes.Assets.at("javascripts/bootstrap.js")"></script>
</head>
<body>
	<div class="container">
		<div class="wrapper-main">
			<div class="container auto">
				<div class="offset4 auto">
					<img src="@routes.Assets.at("images/plexusBlue.png")" height="80px" width="250px" alt="plexusLogo"/>
				</div>
			</div>
			<div class="offset6 homeSpan12 auto">
				<form class="form-horizontal">
				  <div class="control-group">
				    <label class="control-label" for="inputEmail">Email</label>
				    <div class="controls">
				      <input type="text" id="inputEmail" placeholder="Email">
				    </div>
				  </div>
				  <div class="control-group">
				    <label class="control-label" for="inputPassword">Password</label>
				    <div class="controls">
				      <input type="password" id="inputPassword" placeholder="Password">
				    </div>
				  </div>
				  <div class="control-group">
				    <div class="controls">
				      <label class="checkbox">
				        <input type="checkbox"> Remember me
				      </label>
				      <button type="submit" class="btn">Sign in</button>
				      <a href="/signUp" class="btn">Sign up</a>
				      <div id="forgotPw" class="forgotPassword">
						<a href="/forgotPassword">Forgot Password?</a></div>
				    </div>
				  </div>
				</form>
			</div>
		</div>
		<div class="footer">
				<p class="text-center">(c) Plexus 2013. PUP Manila. Dynamic Objx Labs. Inc</p>
		</div>
	</div>
</body>
</html>