<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/Icon.png")"/>
	<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/plexusCSS.css")"/>
</head>
<body>
	<div class="wholeCss">
		<div class="profileContainer">
			<div class="profileUpper">
				<div class="logoProfile fl">
					<img src="@routes.Assets.at("images/plexusLogo2.png")" height="80px" width="250px" alt="plexusLogo"/>
				</div>
			</div>
			<div class="relative profileWhole">
				<div class="userInfoProfile divborder relative">
					<div class="dP divborder fl relative">
						<img src="@routes.Assets.at("images/batman.png")" height="170px" width="170px" alt="batman" class="dpImage"/>
					</div>
					<div class="nameMiddle fl relative">
						<div class="usersName fl relative">
							<h1 class="profileName">PUP BSCoE 4-1</h1>
						</div>
					</div>
					<div class="otherInfoProfile fl relative">
						<div class="aboutInfoProfile relative">
							<a href="/about" class="linkToAbout">	
								About
							</a>
						</div>
						<div class="relative">
						<ul class="relative">
							<li class="font"><div class="liProfileDiv">work?</div></li>
							<li class="font"><div class="liProfileDiv">school?</div></li>
							<li class="font"><div class="liProfileDiv">birthday</div></li>
							<li class="font"><div class="liProfileDiv">male</div></li>
							<li class="font"><div class="liProfileDiv">baesa, quezon city</div></li>
						</ul>
						</div>
					</div>
				</div>
				<div class="usersPostProfile divborder fl">
					<div class="newPost divborder">
						<div class="newPostTextBox">
							<textarea class="postTextBox" rows="5" cols="55" placeholder="Post It Here!"></textarea>
						</div>
						<div class="postButton">
							<button name="postButton" class="postButtonProfile">
							<img src="@routes.Assets.at("images/postButton.png")" height="40px" width="100px">
							</button>
						</div>
					</div>
					<div class="recentPost">
						<div id="firstpost" class="recentPost divborder">
							<h1>Welcome To Plexus</h1>
						</div>
						<div id="firstpost" class="recentPost divborder">
							<h1>Happy?</h1>
						</div>
					</div>
				</div>
				<div class="rightProfile divborder fl">
					<div class="linkToFriends">
						<a href="/friends">Friends</a>
					</div>
					<div class="usersFriendProfile fl">
						<div id="friendsPhoto" class="friendsPhoto fl divborder">
							Friends Picture
						</div>
						<div id="friendsInfo" class="friendsInfo fl">
							<a href="">
							<h3>Jestine M. Banagbanag</h3>
							</a>
						</div>
					</div>
					<div class="usersFriendProfile fl">
						<div id="friendsPhoto" class="friendsPhoto fl divborder">
							Friends Picture
						</div>
						<div id="friendsInfo" class="friendsInfo fl">
							<a href="">
							<h3>Justine M. Oliveros</h3>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>