body
{
	margin: 0 auto;
	background-image: url('../images/plexusBgMainpage.png');
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: realtive;
}
.of
{
	overflow-y: scroll;
}
.wholeCss
{
	max-height:100%;
	max-width:100%;
}
.fpWholeCss
{	
	padding: 0 75px 75px 35%;
	max-height:100%;
	max-width:100%;
	float: left;
	overflow: hidden;	
}
.upperCss
{
	max-width:50%;
	height: 100px;
	padding-top: 120px;
	float:right;
}
.lowerCss
{
	padding-left: 41%;
	height: 150px;
}
.fl
{
	float: left;
}
.middleCss
{
	max-width: 100%;
	height: 400px;
}
.inputCss, .firstNameCss, .middleNameCss, .lastNameCss, .address
{
	border-radius: 10px;
	height: 30px; 
	width: 250px;
	background-color: beige;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
}
.logoCss
{
	background-color: transparent;
	width: 250px;
	height: 80px;
	margin-left: 35%;
	float: left;

}
.fplogo
{
	margin-left: 8%;
}
.middleUser
{
	float: left;
	padding: 25px 0 25px 0;
}
.middlePass
{
	float: left;
	padding: 0px 0 50px 0;
}
.signCss
{
	width: 300px;
	height: 200px;
	float:right;
	padding:100px 40px;
}
.pad
{
	height: 400px;
	padding: 0px 100px 0px 200px;
}
.signInCss
{
	margin-left: 150px; 
}
.signinButton
{
	-webkit-border-radius: 10px;
	width: 100%;
	height: 10px;
	padding:10px 25px 5px; 
	float: left;
}
.signupButton
{
	-webkit-border-radius: 10px;
	width: 100%;
	height: 10px;
	padding:20px 25px 5px; 
	float: left;
}
.fpImageCss
{
	width: 100px;
	height: 150px;
	float: left;
	padding-top: 10px;
	padding-left: 10px;
	margin-right: 20px;
}
.divborder
{
	border-radius: 15px;
	border: 5px dashed #9866C0;
}
.fpUpperCss
{
	height: 150px;
	max-width: 100%;
	border-bottom: 0px;
	margin-top: 30px;
}
.fpLowerCss
{
	height: 250px;
	max-width: 100%;
	padding: 20px 30px;
}
h1
{
	margin: 30px 30px;
}
.fpH3
{
	height:25px;
}
.emailInput
{
	padding: 20px 60px;
	height: 50px;
	max-width: 100%;
}
.colorBeige
{
	background-color: beige;
}
.sendButtonCss
{
	padding-left: 150px;
}
.userInfo
{
	max-height: 100%;
	width: 550px;
	padding-left: 20px;
}
.upperSU
{
	max-width:100%;
	height: 200px;
}
.maleFemale
{
	width: 100px;
	margin-bottom: 50px;
}
.dayInput
{
	width: 80px;
}
.dateBottom, .UPBottom, .address
{
	margin-bottom: 25px;
}
.address
{
	width: 510px;
}
.monthBday
{
	width:125px;
}
.gender
{
	visibility: hidden;
}
.signUpText
{
	height: 70px;
	width: 900px;
}
h1.signup
{
	margin: 0 150px;
}
.middleSignup
{
	padding: 0 380px;
	height: 500px;
}
.h3SignUp
{
	height: 80px;
	max-width: 100%;
	margin-right: 50px;
	margin-bottom: 50px;
}
p
{
	-webkit-border-radius: 10px;
	width: 100%;
	height: 10px;
	padding:20px 55px 5px; 
	float: left;
}
