body
{
	margin: 0 auto;
	background-image: url('../images/plexusBgMainpage.png');
	overflow: hidden;
}
.of
{
	overflow-y: scroll;
}
.wholeCss
{
	max-height:100%;
	max-width:100%;
}
.fpWholeCss
{	
	padding: 0 75px 75px 35%;
	max-height:100%;
	max-width:100%;
	float: left;
	overflow: hidden;	
}
.upperCss
{
	max-width:100%;
	height: 160px;
}
.lowerCss
{
	padding-left: 41%;
	height: 150px;
}
.fl
{
	float: left;
}
.middleCss
{
	max-width: 100%;
	height: 400px;
}
.inputCss, .firstNameCss, .middleNameCss, .lastNameCss, .address
{
	-webkit-border-radius: 10px;
	height: 30px; 
	width: 250px;
	background-color: beige;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
}
.logoCss
{
	background-color: transparent;
	width: 400px;
	height: 200px;
	margin-left: 35%;
	float: left;
}
.fplogo
{
	margin-left: 8%;
}
.middleUser
{
	float: left;
	padding: 25px 0 50px 0;
}
.signCss, .worldCss
{
	width: 300px;
	height: 200px;
	float:left;
	padding: 50px 150px;
}
.pad
{
	height: 400px;
	padding: 0px 100px 0px 200px;
}
.signInCss
{
	margin-left: 150px; 
}
.signinButton
{
	-webkit-border-radius: 10px;
	width: 100px;
	height: 50px;
	padding:0px 25px; 
	float: left;
}
.signupButton
{
	padding-left: 0px;
}
.fpImageCss
{
	width: 100px;
	height: 150px;
	float: left;
	padding-top: 10px;
	padding-left: 10px;
	margin-right: 20px;
}
.fpUpperCss
{
	height: 150px;
	max-width: 100%;
	border: 3px solid black;
	border-bottom: 0px;
	margin-top: 30px;
}
.fpLowerCss
{
	height: 250px;
	max-width: 100%;
	border: 3px solid black;
	border-top: 0px;
	padding: 20px 30px;
}
h1
{
	margin: 30px 30px;
}
.fpH3
{
	height:25px;
}
.emailInput
{
	padding: 20px 60px;
	height: 50px;
	max-width: 100%;
}
.bgLightblue
{
	background-color: #CC66CC;
}
.colorBeige
{
	background-color: beige;
}
.sendButtonCss
{
	padding-left: 100px;
}
.userInfo
{
	height: 300px;
	width: 300px;
	padding-left: 20px;
}
.upperSU
{
	max-width:100%;
	height: 200px;
}
.firstNameCss, .middleNameCss, .lastNameCss, .maleFemale, .address
{
	margin-bottom: 50px;
}
.maleFemale
{
	width: 100px;
}
.dateBottom, .UPBottom
{
	margin-bottom: 25px;
}
.monthBday
{
	width:125px;
}
.gender
{
	visibility: hidden;
}
.divborder
{
	border-radius: 15px;
	border: 5px dashed #9866C0;
}
.signUpText
{
	height: 70px;
	width: 900px;
}
.bdayInfo, .emailInfo
{
	margin-left: 25px;
	height: 230px;
	width: 300px;
	margin-left: 100px;
	padding-left: 20px;
}
h1.signup
{
	margin: 0 150px;
}
.middleSignup
{
	padding: 0 60px;
}