@main("Plexus") {	
	<div class="wholeCss">
		<div class="container">
			<div class="navbar search">
 				<div class="navbar-inner navbar-fixed-top image">
 					<div class="row-fluid span12">
 						<div>
				    		<img src="@routes.Assets.at("images/plexusBlue.png")" alt="header" height="40px" width="150px" class="fl"/>
				    	</div>
				    	<ul class="nav span3">
				    		<li><a href="/">Home</a></li>
					    	@if(role.equals("owner")){
					    		<li class="active"><a href="/userProfile">Profile</a></li>
					    	}else{
					    		<li><a href="/userProfile">Profile</a></li>
					    	}
					    	<li><a href="/friends">Friends</a></li>
					    	<li><a href="/about">About</a></li>
						</ul>
						<div class="form-inline offset3 span3">
						  	@helper.form(routes.Application.search){
						  		<input type="text" name="keyword" placeholder="Search" class="input-medium search-query">
						  		<button type="submit" class="btn">Search</button>
							}
						</div>
						<div>
							<a href="logout"><button class="btn logOut"><i class="icon-off"></i></button></a>
						</div>
					</div>
 				</div>
			</div>
			<div class="container">
				<div class="friendsPageList divborder boxShadow bg">
					<div class="friendsPageListUpper divborder">
						<div class="friendsLogoUpper fl boxShadow">
							<img src="@routes.Assets.at("images/friendsList.png")" height="100px" width="200px"/>
						</div>
						<form class="form-search">
						  	<div class="input-append friendsPageSearch">
						    	<input type="text" class="span2 search-query">
						    	<button type="submit" class="btn">Search</button>
						  	</div>
						</form>
					</div>
					<div class="friendsPageFriendList boxShadow divborder">
						<ul class="friendsPageListUl">
							<li>
								<div class="friendsPageListLi">
									<div class="friendsPagePictureDiv fl">
										<img src="@routes.Assets.at("images/batman.png")" class="friendsPagePicture"/>
									</div>
									<div class="friendsPageFriendsName fl">
										Ako Si Batman
									</div>
								</div>
							</li>
							<li>
								<div class="friendsPageListLi">
									<div class="friendsPagePictureDiv">
									</div>
								</div>
							</li>
							<li>
								<div class="friendsPageListLi">
									<div class="friendsPagePictureDiv fl">
										<img src="@routes.Assets.at("images/batman.png")" class="friendsPagePicture"/>
									</div>
									<div class="friendsPageFriendsName fl">
										Ako Si Man with a BAT
									</div>
								</div>
							</li>
							<li>
								<div class="friendsPageListLi">
									<div class="friendsPagePictureDiv">
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
}