@(friendsList:scala.collection.mutable.ListBuffer[User])
@main("Plexus") {	
	<div class="wholeCss">
		<div class="container">
			<div class="navbar search">
 				<div class="navbar-inner navbar-fixed-top image">
 					<div class="row-fluid span12">
 						<div>
				    		<img src="@routes.Assets.at("images/plexusBlue.png")" alt="header" height="40px" width="150px" class="fl"/>
				    	</div>
				    	<ul class="nav span3">
				    		<li><a href="/">Home</a></li>
					    	<li><a href="/userProfile">Profile</a></li>
					    	<li class="active"><a href="/friends">Friends</a></li>
					    	<li><a href="/about">About</a></li>
						</ul>
						<div class="form-inline offset3 span3">
						  	@helper.form(routes.Application.search){
						  		<input type="text" name="keyword" placeholder="Find People" class="input-medium search-query">
						  		<button type="submit" class="btn"><i class="icon-search"></i></button>
							}
						</div>
						<div>
							<a href="logout"><button class="btn logOut"><i class="icon-off"></i></button></a>
						</div>
					</div>
 				</div>
			</div>
			<div class="container">
				<div class="friendsPageList divborder boxShadow bg">
					<div class="friendsPageListUpper divborder">
						<div class="friendsLogoUpper fl boxShadow">
							<img src="@routes.Assets.at("images/friendsList.png")" height="100px" width="200px"/>
						</div>
					</div>
					<div class="friendsPageFriendList boxShadow divborder">
						<ul class="friendsPageListUl">
							@friendsList.map{ friend =>
								<li>
									<div class="friendsPageListLi">
										<div class="friendsPagePictureDiv fl">
											<img src="@routes.Assets.at("images/batman.png")" class="friendsPagePicture"/>
										</div>
										<div class="friendsPageFriendsName fl">
										<form id="myForm@friend.objectId" action="/profile" method="post">
							    		<input type="hidden" name="userId" value="@friend.objectId" />
							   			<a href="#" onclick="document.getElementById('myForm@friend.objectId').submit();"><h5>@friend.firstName.head.toString.toUpperCase@friend.firstName.tail @friend.lastName.head.toString.toUpperCase@friend.lastName.tail</h5></a>
									</form>
										</div>
									</div>
								</li>
							}
						</ul>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
}