@(form: Form[(String,String)])(implicit flash: Flash)
@main("Plexus") {
	@helper.form(routes.Auth.authenticate){
				<div ><input class="" type="email" name="email" value="" placeholder="Email"/></div>
				<div ><input class="" type="password" name="password" value="" placeholder="Password"/></div>
				@form.globalError.map { error =>
                <p>
                    @error.message
                </p>
                }
                
                @flash.get("success").map { message =>
                <p>
                    @message
                </p>
                }
				<div >
					<button type="submit">Log In
					</button>
				</div>
				<div >
					<a href="/signUp">Sign Up
					</a>
				</div>
	}	   
}