@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
	<title>@title</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/Icon.png")"/>
	<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/plexusCSS.css")"/>
	<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap.css")"/>
	<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap-responsive.css")"/>
	<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/ajax-list-bootstrap.css")"/>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/plexusJS.js")"></script>
	<script src="http://code.jquery.com/jquery.js"></script>
	<script src="@routes.Assets.at("javascripts/bootstrap.js")">
	</script>
	<script src="@routes.Assets.at("javascripts/jquery.js")"></script> 
	<script src="@routes.Assets.at("javascripts/jpaginate.js")"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$('.homerecentPost:gt(6)').hide().last().after(
    		$("#showMore").click(function(){
        		var a = this;
        		$('.homerecentPost:not(:visible):lt(3)').fadeIn(function(){
         		if ($('.homerecentPost:not(:visible)').length == 0) $(a).remove()
        		}); return false;
    		})
		);
		})
	</script>
	</head>
    <body>
        @content
    </body>
</html>
