@(pageOwner:User,user: User,role: String, wallPostList: scala.collection.mutable.ListBuffer[WallPost])
@main("Plexus") {
	<h4>
		<form id="myForm@pageOwner.objectId" action="/profile" method="post">
    		<input type="hidden" name="userId" value="@pageOwner.objectId" />
   			<a href="#" onclick="document.getElementById('myForm@pageOwner.objectId').submit();">@pageOwner.firstName @pageOwner.lastName</a>
		</form>
	</h4>
	<br>
	<h3>@pageOwner.gender</h3>
	<br>
	<h3>@pageOwner.birthdate</h3>
	<br>
	@if(role.equals("none")){
		<form action="/addFriendRequest" method="post">
    		<input type="hidden" name="userId" value="@pageOwner.objectId" />
    		<button type="submit">Add Friend</button>
		</form>
	} else {
		@if(role.equals("friend")){<br>
			<form action="/wallPost" method="post">
    			<input type="hidden" name="userId" value="@pageOwner.objectId" />
    			<input type="text" name="content"/>
    			<button type="submit">post</button>
			</form>
			<br>
			<h4>posts</h4>
			<br>
			@wallPostList.map{ wallPost =>
				<li>
					<h2>@wallPost.postedBy.firstName @wallPost.postedBy.lastName</h2> @wallPost.content
				</li>
				@if(user.objectId.equals(wallPost.postedBy.objectId)){
				<form action="/deleteWallPost" method="post">
    				<input type="hidden" name="userId" value="@wallPost.objectId" />
    				<button type="submit">Delete Wall Post</button>
				</form>
				}
			}
			<form action="/unfriend" method="post">
    			<input type="hidden" name="userId" value="@pageOwner.objectId" />
    			<button type="submit">Unfriend</button>
			</form>
		}else {
			@if(role.equals("owner")){
				<br>
				<form action="/wallPost" method="post">
    				<input type="hidden" name="userId" value="@pageOwner.objectId" />
    				<input type="text" name="content"/>
    				<button type="submit">post</button>
				</form>
				<br>
				<h4>posts</h4>
				<br>
				@wallPostList.map{ wallPost =>
					<li>
						<h2>@wallPost.postedBy.firstName @wallPost.postedBy.lastName</h2> @wallPost.content
						<form action="/deleteWallPost" method="post">
    						<input type="hidden" name="userId" value="@wallPost.objectId" />
    						<button type="submit">Delete Wall Post</button>
						</form>
					</li>
				}
				<a href="/editProfile">Edit Profile</a>
			}else {
				<form action="/cancelFriendRequest" method="post">
    				<input type="hidden" name="userId" value="@pageOwner.objectId" />
    				<button type="submit">Cancel Friend Request</button>
				</form>
			}
		}
	}
	<br>
	<a href="/">home</a>
	<br>
	<a href="/logout">Sign Out</a>
}